* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
}

.home__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin: auto;
}